// comics

.boxComics {
  .wrapper {
    @include flexCenter;
    flex-wrap: wrap;
    gap: 80px;
    padding: 20px;
    border: 2px solid $redMarv;
    border-radius: 15px;
    transition: all 2s linear;

    a:hover .boxTitleDesc {
      margin-top: 0;
    }

    a {
      @include flexColCenter;
      overflow: hidden;
      position: relative;
      width: 350px;
      height: 300px;
      border: 2px solid $redMarv;
      border-radius: 15px;

      .boxTitleDesc {
        @include flexColCenter;
        justify-content: space-between;
        @include backLinear;
        width: 350px;
        height: 300px;
        max-height: 300px;
        margin-top: -600px;
        position: absolute;
        border-radius: 15px;
        z-index: 20;
        gap: 10px;


        .title,
        .desc {
          width: 85%;
          text-align: justify;
        }

        .title {
          padding-top: 10px;
        }

        .desc {
          padding-bottom: 10px;
          @include ellipsisMultiLine;
        }
      }

      img {
        width: 350px;
        height: 300px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 15px;
        z-index: 10;
      }
    }
  }

  .linkComicsChar {
    border: 2px solid $redMarv;
    padding: 5px 10px 5px 10px;
    box-shadow: 0.25px 0.25px 1px $bannerBlack , 1px 1px 1.25px $fontTxt, 0.75px 0.75px 1.5px $bannerBlack;
    border-radius: 15px;
  }
}

// BREAKPOINTS
// @media all and (min-width : 576px) {}

@media all and (min-width : 768px) {
  .boxComics {
    & a {
      width: calc(100% /4) !important;

      .boxTitleDesc {
        padding: 10px;
        width: 100%;
      }
    }
  }
}

// @media all and (min-width : 992px) {}

// @media all and (min-width : 1200px) {}

// @media all and (min-width : 1400px) {}