details {
  width: 100%;
  @include flexColStart;
  height: fit-content;
  gap: 10px;

  .boxFilters {
    @include flexCenter;
    width: 100%;
    gap: 10px;

    .limitLabel {
      width: 80%;

      p {
        width: 60px !important;
        word-spacing: 5px;
      }

      & input {
        width: 40px !important;
      }
    }

    .limitLabel,
    .passLabel {
      padding: 5px 10px 5px 10px;
    }

    .passLabel input {
      width: 20px !important;
    }

    & label {
      @include flexCenter;
      gap: 20px;
    }
  }
}

// BREAKPOINTS
// @media all and (min-width : 576px) {}

// @media all and (min-width : 768px) {}

// @media all and (min-width : 992px) {}

@media all and (min-width : 1200px) {
  details {
    height: 30px;
    flex-direction: row !important;

    summary {
      width: 100%;
    }
  }
}

// @media all and (min-width : 1400px) {}