main {
  background-color: $darkMode;
  color: $fontTxt;
  position: relative;
  width: 100%;

  * .wrapper {
    background-size: cover;
    border-radius: 15px;
    padding: 100px 0 50px 0;
  }

  .btnChevronDown,
  .btnChevronUp {
    @include btn;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    touch-action: manipulation;
    flex-basis: auto;
    flex-shrink: 0;
    list-style: none;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    text-decoration: none;
    left: 12.5%;
    position: sticky;
    z-index: 10;

    .svg-inline--fa {
      height: 25px;
    }
  }

  .btnChevronDown {
    top: 5%;
  }

  .btnChevronUp {
    bottom: 1%;
  }
}

// BREAKPOINTS
@media all and (min-width : 576px) {
  main {
    width: 90%;

    .btnChevronDown,
    .btnChevronUp {
      left: 10%;
      width: fit-content;
      height: fit-content;
      padding: 2.5px;

      .svg-inline--fa {
        height: 18px;
      }
    }
  }

}

// @media all and (min-width : 768px) {}

// @media all and (min-width : 992px) {}

// @media all and (min-width : 1200px) {}

@media all and (min-width : 1400px) {
  main {

    .btnChevronDown,
    .btnChevronUp {
      left: 7% !important;
    }
  }
}