main {
  background-color: $darkMode;
  color: $fontTxt;

  .wrapper {
    height: calc(var(--fixHeight) - 80px);
    background-image: url('../images/marvel-background-web.webp');
    background-size: cover;
    border-radius: 15px;
  }
}